@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,800&display=swap");

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  background-image: url(../img/bodytotal.webp);
}

/* ======== NAV ======= */

#navbarNavAltMarkup {
  margin-left: 2em;
}

/* ======== MENU ======= */

#menu a {
  font-size: 18px;
  font-weight: bold;

  color: #3f3f3f;
}

.nav-link {
  display: flex;
}

/* ======== SLIDER DE IMAGENES ======= */

.carousel-inner {
  max-height: 20rem;
}

/* ======== GALERIA ======= */
.container-img {
  max-width: 1250px;
  margin: auto;

  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;

  grid-gap: 20px;
}
.container-img .box-img figure {
  width: 100%;
  height: 100%;
}
.container-img .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-img .box-img:nth-child(1) {
  grid-column-start: span 2;
}
.container-img .box-img:nth-child(4) {
  grid-row-start: span 2;
}
.container-img .box-img:nth-child(15) {
  grid-column-start: span 2;
}

/*================= USOS Y CUIDADOS ================= */

.grid-container {
  height: auto;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.box-1 {
  display: flex;
  justify-content: center;
}

.box-1 img {
  margin: 50px;
  display: flex;
  object-fit: cover;
  width: auto;
  height: 400px;
}

.box-2 {
  display: flex;
  justify-content: center;
}

.box-2 h3 {
  margin: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 5em;
  color: #2b7a30;
  display: flex;
  align-items: center;
  text-align: center;
}

.box-3 {
  display: flex;
  justify-content: center;
}

.box-3 p {
  margin: 40px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #0c240e;
  font-size: 1.5em;
  font-style: italic;
}

.box-4 {
  display: flex;
  justify-content: center;
}

.box-4 h4 {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  font-style: italic;
  color: #469c4b;
  text-decoration: underline;
  display: flex;
  align-items: center;
  text-align: center;
}

.box-5 {
  display: flex;
  justify-content: center;
}

.box-5 img {
  margin-bottom: 50px;
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 350px;
}

/* =========== FOOTER ============= */

footer {
  background-color: #6a784f;
  min-height: 100px;
}

footer p {
  color: #050101;
  text-align: center;
}

#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: #050101;
}

/* ============ FORM SOBRE NOSOTROS ======== */

#contenedor-formulario {
  background: #fbfafa;
  border-radius: 5px;
  max-width: 500px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.img-fluid {
  max-width: 200px;
  margin-top: 10px;
}

/* ========= END FORM ========= */

/* ============== MEDIA QUERIES DESKTOP ============= */

@media (min-width: 1024px) {
  .carousel-inner {
    max-height: 35rem;
  }
  .servicio-fila {
    width: 100% !important;
    text-align: center;
    align-items: center;
  }

  #icono-wrap {
    max-width: 20px;
    max-height: 20px;
  }
}

/* ============== MEDIA QUERIES PEQUEÑAS ============= */

@media (max-width: 768px) {
  #intro {
    width: 90% !important;
  }
  .servicio-fila {
    width: 100% !important;
    text-align: center;
  }
  .container-img {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: 200px;
  }
  .container-img .box-img:nth-child(1) {
    grid-column-start: span 1;
  }

  .container-img .box-img:nth-child(15) {
    grid-column-start: span 1;
  }
}

@media screen and (max-width: 375px) {
  .container-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-img .box-img img {
    height: 200px;
  }
}

/* ============== MEDIA QUERIES MEDIANAS  ============= */

@media (max-width: 576px) {
  .icono-wrap {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}



/* ============== ANIMACION BORRAR DESPUES  ============= */

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}