@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,800&display=swap");
body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  background-image: url(../img/bodytotal.webp); }

.carousel-inner {
  max-height: 36rem; }
  @media screen and (max-width: 375px) {
    .carousel-inner {
      max-height: 10rem; } }
  @media screen and (max-width: 375px) and (max-width: 768px) {
    .carousel-inner {
      max-height: 32rem; } }

@media (max-width: 576px) {
  .icono-wrap {
    flex-wrap: wrap;
    justify-content: center !important; }
  .carousel-inner {
    max-height: 10rem; } }

.container-img {
  max-width: 1250px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px; }
  .container-img .box-img:nth-child(1) {
    grid-column-start: span 2; }
  .container-img .box-img:nth-child(4) {
    grid-row-start: span 2; }
  .container-img .box-img:nth-child(15) {
    grid-column-start: span 2; }
  .container-img .box-img figure {
    width: 100%;
    height: 100%; }
  .container-img .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  @media screen and (max-width: 375px) {
    .container-img {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      display: flex;
      flex-direction: column; } }
  @media (max-width: 768px) {
    .container-img {
      width: 95%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      grid-template-rows: 200px; }
      .container-img .box-img:nth-child(1) {
        grid-column-start: span 1; }
      .container-img .box-img:nth-child(4) {
        grid-column-start: span 1; }
      .container-img .box-img:nth-child(15) {
        grid-column-start: span 1; } }

/* -------- CARTEL EXTEND ------- */
.galeriaa, .cuidadoss, .usoss, .nosotross {
  padding: 15px;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 5px;
  letter-spacing: 2px;
  text-align: center;
  background: #2A4014;
  color: #c9d6cb;
  border-radius: 10px;
  box-shadow: 0 1px 2px #031702;
  margin-left: 10px;
  margin-right: 10px; }

.grid-container {
  height: auto;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column; }
  .grid-container .box-2 h3 {
    font-size: 4em; }

.box-1 {
  display: flex;
  justify-content: center; }
  .box-1 .item-img {
    display: flex;
    justify-content: center; }
  .box-1 img {
    margin: 50px;
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 100%; }

.box-2 {
  display: flex;
  justify-content: center; }
  .box-2 h3 {
    margin: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 4em;
    color: #548029;
    display: flex;
    justify-content: center;
    text-align: center; }

.box-3 {
  display: flex;
  justify-content: center; }
  .box-3 p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 40px;
    color: #213210;
    font-size: 1.3em;
    font-style: italic; }

.box-4 {
  display: flex;
  justify-content: center; }
  .box-4 h4 {
    font-family: "Raleway", sans-serif;
    font-size: 3em;
    font-style: italic;
    color: #548029;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    text-align: center; }

.box-5 {
  display: flex;
  justify-content: center; }
  .box-5 img {
    margin-bottom: 50px;
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 350px; }

#contenedor-formulario {
  border-radius: 5px;
  max-width: 500px;
  margin-bottom: 50px;
  margin-top: 30px; }
  #contenedor-formulario #titulo-formulario .img-fluid {
    max-width: 200px;
    margin-top: 10px; }

footer {
  background-color: #6a784f;
  min-height: 100px; }
  footer p {
    color: #050101;
    text-align: center; }

#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: #050101; }
