@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,800&display=swap");


//vars fonts

$mainFont: 'Raleway', 'sans-serif';

//sizes

$textSm: 0.8em;
$textMd: 1em;
$textLg: 1.6em;
$textXl: 3em;