footer {
    background-color: #6a784f;
    min-height: 100px;
    p{
    color: #050101;
    text-align: center;
    }
  }
#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #050101;
  }