//nesting - anidacion

.container-img {
    max-width: 1250px;
    margin: auto;
  
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
  
    grid-gap: 20px;
    .box-img {
        figure {
            width: 100%;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
  }

  .container-img .box-img:nth-child(1) {
    grid-column-start: span 2;
  }
  .container-img .box-img:nth-child(4) {
    grid-row-start: span 2;
  }
  .container-img .box-img:nth-child(15) {
    grid-column-start: span 2;
  }

  @media (max-width: 768px) {
    #intro {
      width: 90% !important;
    }
    .servicio-fila {
      width: 100% !important;
      text-align: center;
    }
    .container-img {
      width: 95%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      grid-template-rows: 200px;
    }
    .container-img .box-img:nth-child(1) {
      grid-column-start: span 1;
    }
  
    .container-img .box-img:nth-child(15) {
      grid-column-start: span 1;
    }
  }
  
  @media screen and (max-width: 375px) {
    .container-img {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
    }
    .container-img .box-img img {
      height: 200px;
    }
  }


  /* -------- CARTEL EXTEND ------- */
.galeriaa {
  padding: 15px;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 5px;
  letter-spacing: 2px;
  text-align: center;
  background: $color-fondoextend;
  color: $color-letraextend;
  @include bordess; 
  @include sombrass;
  margin-left: 10px;
  margin-right: 10px;
  }

