#contenedor-formulario {
    background: map-get($map: $pallette, $key: white);
    border-radius: 5px;
    max-width: 500px;
    margin-bottom: 50px;
    margin-top: 30px;
    #titulo-formulario{
      .img-fluid{
        max-width: 200px;
        margin-top: 10px;
      }
    }
  }

  .nosotross {
    @extend .galeriaa;
  }

  